.ta_center {
text-align: center
}
.ta_right {
text-align: right
}
@-webkit-keyframes bugfix {
  from { padding-left: 20%; }
   to { padding-left: 20%; }
}
#bookmarks-html {
  height: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  overflow: hidden;
}
#bookmarks-body {
  display: block;
  height: 100%;
  max-height: 100%;
  padding-left: 20%;
  position: relative;
  z-index: 3;
  -webkit-animation: bugfix infinite 1s;
}
ul.folder, li.file {
  border: 0;
  padding-left: 10px;
}
.file > a {
  color: #fff;
}
#bookmarks {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 20%;
  background-color: #888;
  background-position: 0 100px;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  z-index: 4;
  overflow: auto;
}
#content {
  display: block;
  height: 100%;
  width: 100%;
  max-height: 100%;
  overflow: auto;
  position: relative;
  z-index: 3;
}
label.folder {
  cursor: pointer;
}
.switch {
  display: none;
}
#bookmarks .switch:checked + .folder::before {
  content: "\25b6";
  display: inline-block;
  box-sizing: border-box;
  font-size: 10px;
  width: 12px;
  height: 12px;
  color: #fff;
  margin-right: 9px;
  margin-left: -20px;
  text-align: center;
  position: relative;
}
#bookmarks .switch + .folder::before {
  content: "\25bc";
  display: inline-block;
  box-sizing: border-box;
  font-size: 10px;
  width: 12px;
  height: 12px;
  color: #fff;
  margin-right: 9px;
  margin-left: -20px;
  text-align: center;
  position: relative;
}
#bookmarks ol {
  list-style-type: none;
  padding-left: 10px;
  margin-left: 0px;
  left: 0px;
}
#bookmarks .switch + .folder + ol > .file {
  display: block;
}
#bookmarks .switch:checked + .folder + ol > .file {
  display: none;
}
@font-face{
font-family:f0;
src:url(fonts/f0.ttf)format("truetype");
font-weight: bold;
}
@font-face{
font-family:f1;
src:url(fonts/f1.ttf)format("truetype");
}
@font-face{
font-family:f2;
src:url(fonts/f2.ttf)format("truetype");
}
@font-face{
font-family:f3;
src:url(fonts/f3.ttf)format("truetype");
font-style: italic;
}
@font-face{
font-family:f4;
src:url(fonts/f4.ttf)format("truetype");
font-style: italic;
}
.style0{
font-size:11.04pt;
color:rgba(0,0,0,1.00);
font-family:Calibri, f0, sans-serif;
font-weight: bold;
}
.style1{
font-size:11.04pt;
color:rgba(0,0,0,1.00);
font-family:Calibri, f1, sans-serif;
}
.style2{
font-size:11.04pt;
color:rgba(0,0,0,1.00);
font-family:Calibri, f2, sans-serif;
}
.style3{
font-size:11.04pt;
color:rgba(0,0,0,1.00);
font-family:Calibri, f3, sans-serif;
font-style: italic;
}
.style4{
font-size:11.04pt;
color:rgba(0,0,0,1.00);
font-family:Calibri, f4, sans-serif;
font-style: italic;
}
.p_style0{
text-align:left;

}
.p_style1{
text-align:left;
line-height:14.52pt;
}
.p_style10{
text-align:left;
line-height:14.39pt;
}
.p_style11{
text-align:left;
line-height:14.55pt;
}
.p_style12{
text-align:left;
line-height:14.53pt;
}
.p_style13{
text-align:left;
line-height:14.455pt;
}
.p_style14{
text-align:left;
margin-left:12.59pt;
line-height:14.515pt;
}
.p_style15{
text-align:left;
margin-left:12.47pt;
line-height:14.515pt;
}
.p_style2{
text-align:left;
line-height:14.51pt;
}
.p_style3{
text-align:left;
line-height:14.4733pt;
}
.p_style4{
text-align:left;
line-height:14.515pt;
}
.p_style5{
text-align:left;
line-height:14.49pt;
}
.p_style6{
text-align:left;
margin-left:12.59pt;
line-height:14.52pt;
}
.p_style7{
text-align:left;
line-height:14.4pt;
}
.p_style8{
text-align:left;
line-height:14.4867pt;
}
.p_style9{
text-align:left;
line-height:14.525pt;
}
table.bordered {
border: 1px solid black;
border-collapse: collapse;
}
table.bordered th{
border: 1px solid black;
}
table.bordered td{
border: 1px solid black;
}
table.bordered td.borderless{
border-top: none;
border-left: 1px solid black;
border-right: 1px solid black;
border-bottom: none;
}
table.borderless {
border: none;
}
table.borderless td {
vertical-align: top;
}
ul {
list-style-type: none;
padding-left: 0;
}
a {
text-decoration: none;
color: inherit;
}
