.ta_center {
text-align: center
}
.ta_right {
text-align: right
}
@font-face{
font-family:f0;
src:url(fonts/f0.ttf)format("truetype");
font-weight: bold;
}
@font-face{
font-family:f1;
src:url(fonts/f1.ttf)format("truetype");
}
@font-face{
font-family:f2;
src:url(fonts/f2.ttf)format("truetype");
font-style: italic;
}
@font-face{
font-family:f3;
src:url(fonts/f3.ttf)format("truetype");
font-weight: bold;
}
@font-face{
font-family:f4;
src:url(fonts/f4.ttf)format("truetype");
font-weight: bold;
}
.style0{
font-size:13.98pt;
color:rgba(0,0,0,1.00);
font-family:Helvetica, sans-serif;
font-weight: bold;
}
.style1{
font-size:10.98pt;
color:rgba(0,0,0,1.00);
font-family:Helvetica, sans-serif;
font-weight: bold;
}
.style10{
font-size:9pt;
color:rgba(0,0,0,1.00);
font-family:Helvetica, sans-serif;
font-weight: bold;
}
.style11{
font-size:9pt;
color:rgba(0,0,0,1.00);
font-family:Helvetica, sans-serif;
}
.style12{
font-size:9pt;
color:rgba(0,0,0,1.00);
font-family:Helvetica, sans-serif;
}
.style13{
font-size:10.98pt;
color:rgba(0,0,0,1.00);
background-color:rgba(255,255,255,1.00);
font-family:Garamond, f0, sans-serif;
font-weight: bold;
}
.style14{
font-size:10.98pt;
color:rgba(0,0,0,1.00);
font-family:Garamond, f0, sans-serif;
font-weight: bold;
}
.style15{
font-size:10.98pt;
color:rgba(0,0,0,1.00);
background-color:rgba(255,255,255,1.00);
font-family:Garamond, f1, serif;
}
.style16{
font-size:10.98pt;
color:rgba(0,0,0,1.00);
font-family:Garamond, f1, serif;
}
.style17{
font-size:10.98pt;
color:rgba(0,0,0,1.00);
background-color:rgba(255,255,255,1.00);
font-family:Garamond, f2, sans-serif;
font-style: italic;
}
.style18{
font-size:10.98pt;
color:rgba(0,0,0,1.00);
font-family:Garamond, f2, sans-serif;
font-style: italic;
}
.style19{
font-size:10.02pt;
color:rgba(0,0,0,1.00);
font-family:Garamond, f1, serif;
}
.style2{
font-size:13.98pt;
color:rgba(0,0,0,1.00);
font-family:Helvetica, sans-serif;
font-weight: bold;
}
.style20{
font-size:10.02pt;
color:rgba(0,0,0,1.00);
font-family:Garamond, f2, sans-serif;
font-style: italic;
}
.style21{
font-size:6.48pt;
color:rgba(0,0,0,1.00);
vertical-align: super;
font-family:Garamond, f1, serif;
}
.style3{
font-size:11.52pt;
color:rgba(0,0,0,1.00);
font-family:Garamond, f1, serif;
}
.style4{
font-size:11.52pt;
color:rgba(0,0,0,1.00);
font-family:Garamond, f2, sans-serif;
font-style: italic;
}
.style5{
font-size:12pt;
color:rgba(0,112,187,1.00);
font-family:Helvetica, f3, sans-serif;
font-weight: bold;
}
.style6{
font-size:12pt;
color:rgba(0,112,187,1.00);
font-family:Helvetica, f4, sans-serif;
font-weight: bold;
}
.style7{
font-size:6.48pt;
color:rgba(0,0,0,1.00);
font-family:Garamond, f1, serif;
}
.style8{
font-size:10.98pt;
color:rgba(0,0,0,1.00);
font-family:Helvetica, sans-serif;
font-weight: bold;
}
.style9{
font-size:9pt;
color:rgba(0,0,0,1.00);
font-family:Helvetica, sans-serif;
font-weight: bold;
}
.p_style0{
text-align:left;

}
.p_style1{
text-align:left;
line-height:12.925pt;
}
.p_style10{
text-align:left;
margin-left:4.67pt;

margin-top:0;
margin-bottom:0;
}
.p_style11{
text-align:center;

margin-top:0;
margin-bottom:0;
}
.p_style12{
text-align:center;

margin-top:0;
margin-bottom:0;
}
.p_style13{
text-align:center;

margin-top:0;
margin-bottom:0;
}
.p_style14{
text-align:center;

margin-top:0;
margin-bottom:0;
}
.p_style15{
text-align:center;

margin-top:0;
margin-bottom:0;
}
.p_style16{
text-align:center;

margin-top:0;
margin-bottom:0;
}
.p_style17{
text-align:left;
margin-left:49.22pt;

margin-top:0;
margin-bottom:0;
}
.p_style18{
text-align:left;
margin-left:50.62pt;

margin-top:0;
margin-bottom:0;
}
.p_style19{
text-align:left;
margin-left:49.23pt;

margin-top:0;
margin-bottom:0;
}
.p_style2{
text-align:left;
margin-left:36pt;
line-height:13.79pt;
}
.p_style20{
text-align:left;
margin-left:46.85pt;

margin-top:0;
margin-bottom:0;
}
.p_style21{
text-align:left;
margin-left:51.67pt;

margin-top:0;
margin-bottom:0;
}
.p_style22{
text-align:left;
margin-left:46.82pt;

margin-top:0;
margin-bottom:0;
}
.p_style23{
text-align:left;
margin-left:50.64pt;

margin-top:0;
margin-bottom:0;
}
.p_style24{
text-align:left;
margin-left:49.26pt;

margin-top:0;
margin-bottom:0;
}
.p_style25{
text-align:left;
margin-left:6.83pt;

margin-top:0;
margin-bottom:0;
}
.p_style26{
text-align:left;
line-height:11.27pt;
}
.p_style27{
text-align:left;
margin-left:35.99pt;
line-height:13.76pt;
}
.p_style28{
text-align:left;
line-height:12.93pt;
}
.p_style29{
text-align:center;

margin-top:0;
margin-bottom:0;
}
.p_style3{
text-align:left;
line-height:12.96pt;
}
.p_style30{
text-align:center;

margin-top:0;
margin-bottom:0;
}
.p_style31{
text-align:center;

margin-top:0;
margin-bottom:0;
}
.p_style32{
text-align:center;

margin-top:0;
margin-bottom:0;
}
.p_style33{
text-align:center;

margin-top:0;
margin-bottom:0;
}
.p_style34{
text-align:left;
margin-left:7.61pt;

margin-top:0;
margin-bottom:0;
}
.p_style35{
text-align:left;
margin-left:6.05pt;

margin-top:0;
margin-bottom:0;
}
.p_style36{
text-align:center;

margin-top:0;
margin-bottom:0;
}
.p_style37{
text-align:center;

margin-top:0;
margin-bottom:0;
}
.p_style38{
text-align:left;
margin-left:5.87pt;

margin-top:0;
margin-bottom:0;
}
.p_style39{
text-align:left;
margin-left:16.77pt;

margin-top:0;
margin-bottom:0;
}
.p_style4{
text-align:left;
margin-left:36pt;
line-height:12.955pt;
}
.p_style40{
text-align:left;
margin-left:16.86pt;

margin-top:0;
margin-bottom:0;
}
.p_style41{
text-align:left;
margin-left:16.69pt;

margin-top:0;
margin-bottom:0;
}
.p_style42{
text-align:left;
margin-left:16.78pt;

margin-top:0;
margin-bottom:0;
}
.p_style43{
text-align:left;
margin-left:16.73pt;

margin-top:0;
margin-bottom:0;
}
.p_style44{
text-align:left;
margin-left:16.81pt;

margin-top:0;
margin-bottom:0;
}
.p_style45{
text-align:left;
margin-left:16.72pt;

margin-top:0;
margin-bottom:0;
}
.p_style46{
text-align:left;
margin-left:16.68pt;

margin-top:0;
margin-bottom:0;
}
.p_style47{
text-align:left;
margin-left:16.76pt;

margin-top:0;
margin-bottom:0;
}
.p_style48{
text-align:left;
line-height:12.89pt;
}
.p_style49{
text-align:left;
line-height:12.95pt;
}
.p_style5{
text-align:left;
margin-left:35.99pt;
line-height:13.765pt;
}
.p_style6{
text-align:left;
line-height:12.9pt;
}
.p_style7{
text-align:center;

margin-top:0;
margin-bottom:0;
}
.p_style8{
text-align:center;

margin-top:0;
margin-bottom:0;
}
.p_style9{
text-align:center;

margin-top:0;
margin-bottom:0;
}
table.bordered {
border: 1px solid black;
border-collapse: collapse;
}
table.bordered th{
border: 1px solid black;
}
table.bordered td{
border: 1px solid black;
}
table.bordered td.borderless{
border-top: none;
border-left: 1px solid black;
border-right: 1px solid black;
border-bottom: none;
}
table.borderless {
border: none;
}
table.borderless td {
vertical-align: top;
}
ul {
list-style-type: none;
padding-left: 0;
}
a {
text-decoration: none;
color: inherit;
}
