.ta_center {
text-align: center
}
.ta_right {
text-align: right
}
@font-face{
font-family:f0;
src:url(fonts/f0.ttf)format("truetype");
}
@font-face{
font-family:f1;
src:url(fonts/f1.ttf)format("truetype");
}
.style0{
font-size:8.0248pt;
color:rgba(0,0,0,1.00);
font-family:Arial, f0, sans-serif;
}
.style1{
font-size:11.9773pt;
color:rgba(0,0,0,1.00);
font-family:Arial, f0, sans-serif;
}
.style2{
font-size:14.0134pt;
color:rgba(0,0,0,1.00);
font-family:Arial, f0, sans-serif;
}
.style3{
font-size:9.9411pt;
color:rgba(0,0,0,1.00);
font-family:Arial, f0, sans-serif;
}
.style4{
font-size:8.0248pt;
color:rgba(0,0,0,1.00);
font-family:Arial, f1, sans-serif;
}
.p_style0{
text-align:left;

}
.p_style1{
text-align:center;

}
.p_style2{
text-align:center;

}
.p_style3{
text-align:center;

}
.p_style4{

margin-top:0;
margin-bottom:0;
}
table.bordered {
border: 1px solid black;
border-collapse: collapse;
}
table.bordered th{
border: 1px solid black;
}
table.bordered td{
border: 1px solid black;
}
table.bordered td.borderless{
border-top: none;
border-left: 1px solid black;
border-right: 1px solid black;
border-bottom: none;
}
table.borderless {
border: none;
}
table.borderless td {
vertical-align: top;
}
ul {
list-style-type: none;
padding-left: 0;
}
a {
text-decoration: none;
color: inherit;
}
