.ta_center {
text-align: center
}
.ta_right {
text-align: right
}
@font-face{
font-family:f0;
src:url(fonts/f0.ttf)format("truetype");
}
.style0{
font-size:10.98pt;
color:rgba(0,0,0,1.00);
font-family:Calibri, f0, sans-serif;
}
.p_style0{
text-align:left;
margin-left:5.15pt;

margin-top:0;
margin-bottom:0;
}
.p_style1{
text-align:center;

margin-top:0;
margin-bottom:0;
}
.p_style2{
text-align:left;
margin-left:126.77pt;

margin-top:0;
margin-bottom:0;
}
.p_style3{
text-align:left;
margin-left:124.31pt;

margin-top:0;
margin-bottom:0;
}
.p_style4{
text-align:center;

margin-top:0;
margin-bottom:0;
}
.p_style5{
text-align:left;
margin-left:139.07pt;

margin-top:0;
margin-bottom:0;
}
table.bordered {
border: 1px solid black;
border-collapse: collapse;
}
table.bordered th{
border: 1px solid black;
}
table.bordered td{
border: 1px solid black;
}
table.bordered td.borderless{
border-top: none;
border-left: 1px solid black;
border-right: 1px solid black;
border-bottom: none;
}
table.borderless {
border: none;
}
table.borderless td {
vertical-align: top;
}
ul {
list-style-type: none;
padding-left: 0;
}
a {
text-decoration: none;
color: inherit;
}
