.ta_center {
text-align: center
}
.ta_right {
text-align: right
}
@-webkit-keyframes bugfix {
  from { padding-left: 20%; }
   to { padding-left: 20%; }
}
#bookmarks-html {
  height: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  overflow: hidden;
}
#bookmarks-body {
  display: block;
  height: 100%;
  max-height: 100%;
  padding-left: 20%;
  position: relative;
  z-index: 3;
  -webkit-animation: bugfix infinite 1s;
}
ul.folder, li.file {
  border: 0;
  padding-left: 10px;
}
.file > a {
  color: #fff;
}
#bookmarks {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 20%;
  background-color: #888;
  background-position: 0 100px;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  z-index: 4;
  overflow: auto;
}
#content {
  display: block;
  height: 100%;
  width: 100%;
  max-height: 100%;
  overflow: auto;
  position: relative;
  z-index: 3;
}
label.folder {
  cursor: pointer;
}
.switch {
  display: none;
}
#bookmarks .switch:checked + .folder::before {
  content: "\25b6";
  display: inline-block;
  box-sizing: border-box;
  font-size: 10px;
  width: 12px;
  height: 12px;
  color: #fff;
  margin-right: 9px;
  margin-left: -20px;
  text-align: center;
  position: relative;
}
#bookmarks .switch + .folder::before {
  content: "\25bc";
  display: inline-block;
  box-sizing: border-box;
  font-size: 10px;
  width: 12px;
  height: 12px;
  color: #fff;
  margin-right: 9px;
  margin-left: -20px;
  text-align: center;
  position: relative;
}
#bookmarks ol {
  list-style-type: none;
  padding-left: 10px;
  margin-left: 0px;
  left: 0px;
}
#bookmarks .switch + .folder + ol > .file {
  display: block;
}
#bookmarks .switch:checked + .folder + ol > .file {
  display: none;
}
@font-face{
font-family:f0;
src:url(fonts/f0.ttf)format("truetype");
}
@font-face{
font-family:f1;
src:url(fonts/f1.ttf)format("truetype");
}
@font-face{
font-family:f2;
src:url(fonts/f2.ttf)format("truetype");
font-weight: bold;
}
@font-face{
font-family:f3;
src:url(fonts/f3.ttf)format("truetype");
}
@font-face{
font-family:f4;
src:url(fonts/f4.ttf)format("truetype");
font-weight: bold;
}
@font-face{
font-family:f5;
src:url(fonts/f5.ttf)format("truetype");
font-weight: bold;
}
.style0{
font-size:11.04pt;
color:rgba(0,0,0,1.00);
font-family:TimesNewRoman, f0, serif;
}
.style1{
font-size:11.04pt;
color:rgba(0,0,0,1.00);
background-color:rgba(192,192,192,1.00);
font-family:TimesNewRoman, f0, serif;
}
.style10{
font-size:11.04pt;
color:rgba(0,0,255,1.00);
font-family:TimesNewRoman, f1, serif;
}
.style2{
font-size:11.04pt;
color:rgba(0,0,255,1.00);
background-color:rgba(192,192,192,1.00);
font-family:TimesNewRoman, f0, serif;
text-decoration: underline;
}
.style3{
font-size:11.04pt;
color:rgba(0,0,0,1.00);
font-family:TimesNewRoman, f2, serif;
font-weight: bold;
}
.style4{
font-size:11.04pt;
color:rgba(0,0,0,1.00);
font-family:Times New Roman, serif;
font-style: italic;
}
.style5{
font-size:11.04pt;
color:rgba(0,0,0,1.00);
font-family:TimesNewRoman, f3, serif;
}
.style6{
font-size:11.04pt;
color:rgba(0,0,0,1.00);
font-family:TimesNewRoman, f4, serif;
font-weight: bold;
}
.style7{
font-size:11.04pt;
color:rgba(0,0,0,1.00);
font-family:TimesNewRoman, f5, serif;
font-weight: bold;
}
.style8{
font-size:11.04pt;
color:rgba(0,0,0,1.00);
font-family:TimesNewRoman, f1, serif;
}
.style9{
font-size:11.04pt;
color:rgba(0,0,255,1.00);
font-family:TimesNewRoman, f1, serif;
text-decoration: underline;
}
.p_style0{
text-align:left;
line-height:12.9633pt;
}
.p_style1{
text-align:left;
line-height:12.96pt;
}
.p_style2{
text-align:left;
line-height:12.95pt;
}
.p_style3{
text-align:left;
line-height:12.98pt;
}
.p_style4{
text-align:left;
margin-left:11.51pt;
line-height:12.95pt;
}
.p_style5{

margin-top:0;
margin-bottom:0;
}
.p_style6{
text-align:left;

}
table.bordered {
border: 1px solid black;
border-collapse: collapse;
}
table.bordered th{
border: 1px solid black;
}
table.bordered td{
border: 1px solid black;
}
table.bordered td.borderless{
border-top: none;
border-left: 1px solid black;
border-right: 1px solid black;
border-bottom: none;
}
table.borderless {
border: none;
}
table.borderless td {
vertical-align: top;
}
ul {
list-style-type: none;
padding-left: 0;
}
a {
text-decoration: none;
color: inherit;
}
