.ta_center {
text-align: center
}
.ta_right {
text-align: right
}
@font-face{
font-family:f0;
src:url(fonts/f0.ttf)format("truetype");
}
@font-face{
font-family:f1;
src:url(fonts/f1.ttf)format("truetype");
}
@font-face{
font-family:f2;
src:url(fonts/f2.ttf)format("truetype");
font-style: italic;
}
@font-face{
font-family:f3;
src:url(fonts/f3.ttf)format("truetype");
}
.style0{
font-size:11.9551pt;
color:rgba(35,31,32,1.00);
font-family:AdvOT9d60b855_B, f0, serif;
}
.style1{
font-size:11.9551pt;
color:rgba(35,31,32,1.00);
font-family:AdvOTf9433e2d, f1, serif;
}
.style2{
font-size:9.96264pt;
color:rgba(35,31,32,1.00);
font-family:AdvOT9d60b855_B, f0, serif;
text-decoration: underline;
}
.style3{
font-size:9.96264pt;
color:rgba(35,31,32,1.00);
font-family:AdvOT9d60b855_B, f0, serif;
}
.style4{
font-size:9.96264pt;
color:rgba(35,31,32,1.00);
font-family:AdvOTb4af3d5d_I, f2, serif;
font-style: italic;
}
.style5{
font-size:9.96264pt;
color:rgba(35,31,32,1.00);
font-family:AdvOTf9433e2d, f1, serif;
}
.style6{
font-size:9.96264pt;
color:rgba(35,31,32,1.00);
font-family:AdvOTb4af3d5d_I, f2, serif;
font-style: italic;
}
.style7{
font-size:11.9551pt;
color:rgba(35,31,32,1.00);
font-family:AdvOTf9433e2d+20, f3, sans-serif;
}
.p_style0{
text-align:left;

}
.p_style1{
text-align:left;
line-height:13.94pt;
}
.p_style2{

margin-top:0;
margin-bottom:0;
}
.p_style3{
text-align:justify;
line-height:13.94pt;
}
.p_style4{
text-align:center;
line-height:13.94pt;
}
table.bordered {
border: 1px solid black;
border-collapse: collapse;
}
table.bordered th{
border: 1px solid black;
}
table.bordered td{
border: 1px solid black;
}
table.bordered td.borderless{
border-top: none;
border-left: 1px solid black;
border-right: 1px solid black;
border-bottom: none;
}
table.borderless {
border: none;
}
table.borderless td {
vertical-align: top;
}
ul {
list-style-type: none;
padding-left: 0;
}
a {
text-decoration: none;
color: inherit;
}
